.person-section {
    background-image : url("../../img/bckg_about.png");
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.heading_person-section {
    font-family: BigFont;
    text-shadow: darkorange 1px 1px 15px;
    font-weight: 600;
    letter-spacing: 5px;
    font-size: 2rem;
    color: white;
    text-align: center;
}

.person-card {
    border: none !important;
    width: 100%;
    flex-direction: row-reverse !important;
    text-align: center;
}

.person-photo {
    width: 10% !important;
    filter: drop-shadow(4px 4px 30px #D3D0CB);
}
.person-description {
    font-family: BoldF;
    font-weight: 400;
    color: white;
    font-size: 17px;
    margin-right: 50px;
}

.person-name, .person-years {
    font-family: BoldF;
    font-weight: 500;
    color: white;
    font-size: 30px !important;
}



.button-more {
    border-radius: 10px !important;
    background: #DDE4EA !important;
    color: darkorange !important;
    border: thin outset lightgray  !important;
    font-family: BoldF !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    padding: 10px 30px !important;
}

.button-more:hover {
    background: darkorange !important;
    color: #E7E5DF !important;
}

@media only screen and (max-width: 992px) {
    .person-section {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .person-section {
        width: 100%;
    }

    .person-card {
        flex-direction: row-reverse !important;
        align-items: end !important;

    }

    .person-info {
        text-align: center;
    }

    .person-photo {
        height: 2% !important;
        width: 10% !important;
    }

}